@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');
.webaily-h1{
    font-size: 40px;
}
.webaily{
    font-family: 'Audiowide', cursive !important;
}
.copyright2{
    margin-top: 40px;
}